
<!-- Error message -->

<div *ngIf = "error" class = "alert alert-warning" role = "alert">
  <span class = "glyphicon glyphicon-exclamation-sign" aria-hidden = "true"></span>
  <span class = "sr-only"> Error: </span>
  {{ error }}
</div>

<!-- /Error message -->
<!-- =========================================================================================================================== -->
<!-- Register form -->

<app-loading *ngIf = "showSpinner"> </app-loading>

<div *ngIf = "!showSpinner" class = "modal-dialog">
  <div class = "registermodal-container">
    <h1> הרשמה </h1>

    <br>

    <form class = "form-signin" (submit) = "register($event, name.value, lastName.value, phoneNumber.value, email.value, ID.value, password.value, passwordValidation.value)">
      
      <!-- Name -->
      <label for = "name" class = "sr-only"> שם פרטי </label>
      <div class = "input-group">
        <input #name type = "text" id = "name" class = "form-control" placeholder = "שם פרטי" required = "" autofocus = "">
          <span class = "input-group-addon"><i class = "fa fa-user"></i></span> 
      </div>

      <br>

      <!-- Last name -->
      <label for = "name" class = "sr-only"> שם משפחה </label>
      <div class = "input-group">
        <input #lastName type = "text" id = "lastName" class = "form-control" placeholder = "שם משפחה" required = "">
          <span class = "input-group-addon"><i class = "fa fa-user"></i></span> 
      </div>

      <br>

      <!-- Phone number -->
     <label for = "name" class = "sr-only"> מס׳ טלפון </label>
      <div class = "input-group">
        <input #phoneNumber type = "number" id = "lastName" class = "form-control" placeholder = "מס׳ טלפון" required = "">
          <span class = "input-group-addon"><i class = "fa fa-phone-square"></i></span> 
      </div>

      <br>

      <!-- Email -->
      <label for = "email" class = "sr-only"> כתובת דוא״ל </label>
      <div class = "input-group">
        <input #email type = "email" id = "email" class = "form-control" placeholder = "כתובת דוא״ל" required = "">
        <span class = "input-group-addon"><i class = "fa fa-envelope"></i></span> 
      </div>

      <br>

      <!-- ID -->
      <label for = "name" class = "sr-only"> ת.ז </label>
      <div class = "input-group">
        <input #ID type = "number" pattern = ".{9,10}" id = "ID" class = "form-control" placeholder = "תעודת זהות" required = "">
          <span class = "input-group-addon"><i class = "fa fa-id-card"></i></span> 
      </div>

      <br>

      <!-- Password -->
      <label for = "inputPassword" class = "sr-only"> סיסמה </label>
      <div class = "input-group">
        <input #password type = "password" id = "inputPassword" class = "form-control" placeholder = "סיסמה" required = "">
          <span class = "input-group-addon"><i class = "fa fa-lock"></i></span> 
      </div>

      <br>

      <!-- Password validation -->
      <label for = "inputPassword" class = "sr-only"> סיסמה </label>
      <div class = "input-group">
        <input #passwordValidation type = "password" id = "inputPassword" class = "form-control" placeholder = "אימות סיסמה" required = "">
          <span class = "input-group-addon"><i class = "fa fa-lock"></i></span> 
      </div>

      <br>

      <!-- Sign up button -->
      <button class = "btn btn-md btn-primary btn-block" type = "submit"> הירשם </button>

    </form>

    <br>

    <!-- Back button -->
    <button class = "btn btn-md btn-primary btn-block" (click) = "goToLogin()"> חזור למסך התחברות </button>

  </div>
</div>
<!-- /Register form -->