
.thumbnail
{
    height: auto;
    background-color: transparent;
    border: none;
    margin: 1%;
}

.btn-team
{
    white-space: normal;
    height: 100%;
    font-size: 120%;
    font-weight: bold;
    border-radius: 50px;
     border: 4px solid gray;
}

button
{
    white-space: normal;
    height: 100%;
}

h4
{
    color: white;
}