.logo
{
	text-align: center;
}

.logo img
{
	margin: 5%;
	width: calc(50vmin);
}

.btn-size
{
    font-size: 20px;
    height: 100px;
}
.about
{
    color:white;
    font-size: 140%;
    text-align: right;
    margin-top: 12%;
}
