.logo
{
	text-align: center;
}

.logo img
{
    margin: 2%;
    width: 80%;
    margin-top: 0;
}

.page-header
{
    margin-top:0;
}

button
{
    white-space: normal;
    height: 100%;
}

.thumbnail
{
    height: 120px;
    background-color: transparent;
}

