<app-page-header [item] = "header"> </app-page-header>

<section class = "align-right">

<div class="container">
<div class="profile-head">



<div class="col-md-12 col-sm-12 col-xs-12">
<h5>תומר הלפרין</h5>
<p>מנהל מרחב דרום </p>
<ul>
<li>עשר שנים <span class="glyphicon glyphicon-briefcase"></span></li>
<li>בגדאד <span class="glyphicon glyphicon-map-marker"></span></li>
<li> רק הפועל <span class="glyphicon glyphicon-home"></span></li>
<li><a href="#" title="call">050000000</a><span class="glyphicon glyphicon-phone"></span></li>
<li><a href="#" title="mail">halperina@gmail.com</a><span class="glyphicon glyphicon-envelope"></span></li>

</ul>


</div><!--col-md-8 col-sm-8 col-xs-12 close-->




</div><!--profile-head close-->
</div><!--container close-->

