.caret
{
    float: left;
    margin-top: 8px;
}
.clickable
{
	cursor: pointer;   
}

.panel-heading div 
{
	margin-top: -18px;
	font-size: 15px;
}

.panel-heading div span
{
	margin-left:5px;
}

.panel-body
{
	display: none;
}

#dev-table
{
    text-align: right;
}

.vertical-menu 
{
    display: block;
    max-width: 100%;
    width: 100%;
    padding-right: 3%;
    overflow-y: scroll;
}

.panel-title
{
    text-align: center;
}

tr, th
{
    text-align: center;
}

tr
{
    font-size: 96%;
}

.dropdown-menu
{
    text-align: right;
    min-height: 33px;
    max-height: 190px;
    min-width: 100%;
    max-width: 100%;
    overflow-y: scroll;
}

.font-size
{
    font-size: 90%;
}

/****************************************/
/********** Scrollbar Height  ***********/

@media only screen and (max-height: 2560px)
{
    .vertical-menu 
    {
        height: 2200px;
    }
}

@media only screen and (max-height: 1366px)
{
    .vertical-menu 
    {
        height: 1050px;
    }
}

@media only screen and (max-height: 1280px)
{
    .vertical-menu 
    {
        height: 990px;
    }
}

@media only screen and (max-height: 1024px)
{
    .vertical-menu 
    {
        height: 745px;
    }
}

@media only screen and (max-height: 960px)
{
    .vertical-menu 
    {
        height: 675px;
    }
}

@media only screen and (max-height: 950px)
{
    .vertical-menu 
    {
        height: 675px;
    }
}

@media only screen and (max-height: 900px)
{
    .vertical-menu 
    {
        height: 625px;
    }
}

@media only screen and (max-height: 800px)
{
    .vertical-menu 
    {
        height: 529px;
    }
}

@media only screen and (max-height: 736px)
{
    .vertical-menu 
    {
        height: 478px;
    }
}

@media only screen and (max-height: 732px)
{
    .vertical-menu 
    {
        height: 474px;
    }
}

@media only screen and (max-height: 667px)
{
    .vertical-menu 
    {
        height: 410px;
    }
}

@media only screen and (max-height: 640px)
{
    .vertical-menu 
    {
        height: 380px;
    }
}

@media only screen and (max-height: 568px)
{
    .vertical-menu 
    {
        height: 305px;
    }
}

@media only screen and (max-height: 533px)
{
    .vertical-menu 
    {
        height: 270px;
    }
}

@media only screen and (max-height: 480px)
{
    .vertical-menu 
    {
        height: 217px;
    }
}

@media only screen and (max-height: 360px)
{
    .vertical-menu 
    {
        height: 105px;
    }

    .dropdown-menu
    {
        height: 100px;
    }
}