.caret
{
    float: left;
    margin-top: 8px;
}
.clickable{
	cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	display: none;
}
h3 {
    text-align: right;
}
th {
    text-align: right;
}
#dev-table
{
    text-align: right;
}

.vertical-menu 
{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 35vh;
    padding-right: 3%;
    overflow-y: scroll;
}

.dropdown-menu
{
    text-align: right;
}