<main class = "login">

 <h2> מסך התחברות </h2>
 
 <p></p>

  <div class = "row">
    <label>
      <input type = 'number' [(ngModel)] = 'userID' required min = "0" > :שם משתמש
    </label>
  </div>

    <P></P>

  <div class = "row">
    <label>
      <input type = 'password' [(ngModel)] = "password" required> :סיסמה
    </label>
  </div>

    <P></P>

  <div class = "row">
    <button type = "submit" (click) = "userID && password && login(userID, password)" (keyup.enter) = "userID && password && login(userID, password)"> התחבר </button>
  </div>

</main>