

<div class = "app-content">

    <!-- Nav bar -->
    <nav *ngIf = "isLoggedIn" class = "navbar navbar-default navbar-default" role = "navigation">
    <div class = "container-fluid" id = "navfluid">
        <div class = "navbar-header">
            <a class = "navbar-brand fa fa-home" [routerLink] = "['']"> דף הבית </a>
            <a class = "align-right navbar-brand fa fa-sign-out" (click) = "logout()"> התנתק </a>
        </div>
    </div>
    </nav>


  <!-- Routing pages -->
  <router-outlet> </router-outlet>

</div>
   
