.titlePage
{
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 90%;
}

.page-header

{
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 1%;
}

.date
{
  color: white;
  font-size: 60%;
}

.subTitle
{
  color: white;
  text-align: center;
  font-size: 110%;
}

.fa-pencil-square-o
{
  color: white;
}

.instructions
{
  margin-bottom: 25px; 
  text-align: center;
}

.teams_list
{
  text-align: right;
  cursor: pointer;
}

.vertical-menu 
{
    padding: 2%;
    line-height: 1;
    color: #414141;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 7%;
    max-width: 100%;
    width: 100%;
    text-align: right;
    font-size: 110%;

    overflow-y: scroll;
}

.btn-team
{
    white-space: normal;
    height: 100%;
    font-size: 120%;
    font-weight: bold;
    text-align: right;
}

/*.btn-confirm
{
    white-space: normal;
    height: 100%;
    font-size: 110%;
    font-weight: bold;
}

.btn-bottom
{
    display: block;
    height: 30px;
    background-color: transparent;
    font-size: 85%;
}*/

.thumbnail
{
    height: auto;
    background-color: transparent;
    border: none;
    margin: 1%;
    -webkit-box-shadow: 10px 10px 24px -17px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 24px -17px rgba(255,255,255,1);
    box-shadow: 10px 10px 24px -17px rgba(255,255,255,1);
}

.title
{
  color: white;
  margin-bottom: 5%;
}

.pupil-name
{
  color: white;
  margin-right: 10%;
}

/******************************/
/*
 * Toggle button styles
 */

.toggle-button 
{
  position: relative;
  display: inline-block;
  color: #fff; 
  width: 100%;
  margin-bottom: 8px;
}

.toggle-button label 
{
    display: inline-block;
    cursor: pointer;
    text-align: right; 
    padding-right: 14px;
}
.toggle-button input 
{
    display: none; 
}
.toggle-button__icon 
{
    cursor: pointer;
    pointer-events: none; 
}
.toggle-button__icon:before, .toggle-button__icon:after 
{
    content: "";
    position: absolute;
    top: 45%;
    left: 35%;
    transition: 0.2s ease-out; 
}

/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--vesi label 
{
    height: 35px;
    line-height: 35px;
    transition: all 0.2s;
    border-radius: 1rem; 
}

.toggle-button--vesi label:before, .toggle-button--vesi label:after 
{
    position: absolute;
    transition: all 0.2s .15s ease-out;
}

.toggle-button--vesi input[type=checkbox] + label 
{
    width: 100%;
    /*background: #2966B8; */
    background: transparent;
}

.toggle-button--vesi input[type=checkbox] + label:before 
{
    opacity: 0;
    transform: translate(0, 20px);
}

.toggle-button--vesi input[type=checkbox] + label:after 
{
    opacity: 1;
    transform: translate(0, 0); 
}

.toggle-button--vesi input[type=checkbox]:checked ~ label 
{
    width: 100%;
    background: #559e83; 
}

.toggle-button--vesi input[type=checkbox]:checked ~ label:before 
{
    opacity: 1;
    transform: translate(0, 0); 
}
.toggle-button--vesi input[type=checkbox]:checked ~ label:after 
{
    opacity: 0;
    transform: translate(0, -20px); 
}

.toggle-button--vesi input[type=checkbox]:checked ~ .toggle-button__icon:before 
{
    transform: translate(-10%, 100%) rotate(45deg);
    width: 16.66667px; 
}

.toggle-button--vesi input[type=checkbox]:checked ~ .toggle-button__icon:after 
{
  transform: translate(30%) rotate(-45deg); 
}

.toggle-button--vesi .toggle-button__icon 
{
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    width: 35px; 
}

.toggle-button--vesi .toggle-button__icon:before, .toggle-button--vesi .toggle-button__icon:after 
{
    height: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); 
}

.toggle-button--vesi .toggle-button__icon:before 
{
    width: 25px;
    /*transform: rotate(45deg); */
}

.toggle-button--vesi .toggle-button__icon:after 
{
    width: 25px;
    /*transform: rotate(-45deg); */

}


/****************************************/
/********** Scrollbar Height  ***********/

@media only screen and (max-height: 2560px)
{
    .vertical-menu 
    {
      height: 2120px;
    }
}

@media only screen and (max-height: 1366px)
{
    .vertical-menu 
    {
        height: 970px;
    }
}

@media only screen and (max-height: 1280px)
{
    .vertical-menu 
    {
      height: 940px;
    }
}

@media only screen and (max-height: 1024px)
{
    .vertical-menu 
    {
        height: 690px;
    }
}

@media only screen and (max-height: 960px)
{
    .vertical-menu 
    {
        height: 630px;
    }
}

@media only screen and (max-height: 950px)
{
    .vertical-menu 
    {
        height: 550px;
    }
}

@media only screen and (max-height: 900px)
{
    .vertical-menu 
    {
        height: 505px;
    }
}

@media only screen and (max-height: 800px)
{
    .vertical-menu 
    {
        height: 405px;
    }
}

@media only screen and (max-height: 736px)
{
    .vertical-menu 
    {
        height: 450px;
    }
}

@media only screen and (max-height: 732px)
{
    .vertical-menu 
    {
        height: 450px;
    }
}

@media only screen and (max-height: 667px)
{
    .vertical-menu 
    {
        height: 390px;
    }
}

@media only screen and (max-height: 640px)
{
    .vertical-menu 
    {
        height: 360px;
    }
}

@media only screen and (max-height: 568px)
{
    .vertical-menu 
    {
        height: 295px;
        font-size: 100%;
    }
}

@media only screen and (max-height: 533px)
{
    .vertical-menu 
    {
        height: 255px;
    }
}

@media only screen and (max-height: 480px)
{
    .vertical-menu 
    {
        height: 205px;
    }
}

@media only screen and (max-height: 360px)
{
    .vertical-menu 
    {
        height: 55px;
    }
}