/*footer*/
footer{
    margin-bottom: 5%;
}

.titlePage
{
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 90%;
}

.page-header

{
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 1%;
}

.date
{
  color: white;
  font-size: 60%;
}

.subTitle
{
  color: white;
  text-align: center;
  font-size: 110%;
}

.fa-pencil-square-o
{
  color: white;
}

.instructions
{
  margin-bottom: 25px; 
  text-align: center;
}

.teams_list
{
  text-align: right;
  cursor: pointer;
}

.vertical-menu 
{
    padding: 2%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #414141;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 10%;
    max-width: 100%;
    width: 100%;
    text-align: right;
    font-size: 130%;

    overflow-y: scroll;
}

.btn-team
{
    white-space: normal;
    height: 100%;
    font-size: 120%;
    font-weight: bold;
}

.btn-confirm
{
    white-space: normal;
    height: 100%;
    font-size: 110%;
    font-weight: bold;
}

.btn-bottom
{
    display: block;
    height: 30px;
    background-color: transparent;
    font-size: 85%;
}

.thumbnail
{
    height: auto;
    background-color: transparent;
    border: none;
    margin: 1%;
    -webkit-box-shadow: 10px 10px 24px -17px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 24px -17px rgba(255,255,255,1);
    box-shadow: 10px 10px 24px -17px rgba(255,255,255,1);
}

.title
{
  color: white;
  margin-bottom: 5%;
}

.pupil-name
{
  color: white;
  margin-right: 10%;

}

/******************************/

.checkbox label:after, 
.radio label:after
{
    content: '';
    display: table;
    clear: both;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon 
{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon 
{
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] 
{
    display: none;   
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon 
{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in; 
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon 
{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr 
{
    opacity: .5; 
}

label
{
    font-size: 1em;
    padding: 1%;
}

hr
{
    width: 80%;
}

/****************************************/
/********** Scrollbar Height  ***********/

@media only screen and (max-height: 2560px)
{
    .vertical-menu 
    {
      height: 2100px;
    }
}

@media only screen and (max-height: 1366px)
{
    .vertical-menu 
    {
        height: 950px;
    }
}

@media only screen and (max-height: 1280px)
{
    .vertical-menu 
    {
      height: 920px;
    }
}

@media only screen and (max-height: 1024px)
{
    .vertical-menu 
    {
        height: 670px;
    }
}

@media only screen and (max-height: 960px)
{
    .vertical-menu 
    {
        height: 610px;
    }
}

@media only screen and (max-height: 950px)
{
    .vertical-menu 
    {
        height: 530px;
    }
}

@media only screen and (max-height: 900px)
{
    .vertical-menu 
    {
        height: 480px;
    }
}

@media only screen and (max-height: 800px)
{
    .vertical-menu 
    {
        height: 385px;
    }
}

@media only screen and (max-height: 736px)
{
    .vertical-menu 
    {
        height: 450px;
    }
}

@media only screen and (max-height: 732px)
{
    .vertical-menu 
    {
        height: 450px;
    }
}

@media only screen and (max-height: 667px)
{
    .vertical-menu 
    {
        height: 350px;
    }
}

@media only screen and (max-height: 640px)
{
    .vertical-menu 
    {
        height: 360px;
    }
}

@media only screen and (max-height: 568px)
{
    .vertical-menu 
    {
        height: 260px;
        font-size: 100%;
    }
}

@media only screen and (max-height: 533px)
{
    .vertical-menu 
    {
        height: 255x;
    }
}

@media only screen and (max-height: 480px)
{
    .vertical-menu 
    {
        height: 180px;
    }
}

@media only screen and (max-height: 360px)
{
    .vertical-menu 
    {
        height: 45px;
    }
}