<p>
</p>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"> דו"ח נוכחות </h1>
    <p class="lead text-muted"> מילוי דו"ח נוכחות יומי של החניכים </p>
    <p>{{date}}</p>
  </div>
</section>

<!--picking team-->


<!--form of checklist and notes-->
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="form-area">
      <form role="form">
        <br style="clear:both">

        <!--Injection of html-->
        <div [innerHtml]="htmlVariable" class="pull-right"></div>
        
         <!--Team selection-->
        <div *ngFor="let teams_names of teams_names">
          <button type="button" class="btn btn-danger" (click)="getPupils(elem.id)" id="{{teams_names.name}}" #elem>{{teams_names.name}}</button>
          <p></p>
        </div>

        <!--checklist-->
        <div class="col-md-8 col-md-offset-2">
          <div class="funkyradio">
            <div class="funkyradio-success" *ngFor="let pupils of pupils">
              <input type="checkbox" name="checkbox"  [value] = "pupils.name" (change)="updateChecked(option, $event)" id="{{pupils.name}}" />
              <label for="{{pupils.name}}">{{pupils.name}}</label>
            </div>
          </div>
        </div>

        <!--Notes-->
        <div class="form-group">
          <textarea class="form-control text-right" type="textarea" id="message"  placeholder="הערות לגבי נוכחות החניכים" maxlength="140" rows="7" #titleInput ></textarea>

          <!--Submit-->
          <span class="help-block"><p id="characterLeft" class="help-block text-right">"לאחר מילוי הנוכחות וההערות, לחץ על "שלח טופס</p></span>
        </div>

        <button type="button" id="submit" name="submit" class="btn btn-primary pull-left" (click)="startOver()">איפוס טופס ובחירת קבוצה מחדש</button>
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" (click)="saveAttendance(titleInput.value)">שליחת טופס</button>

      </form>

    </div>
  </div>
</div>


<!--Footer contains go back and return to the head of the page buttons-->
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
     <!-- <a href="Attendance" class="btn btn-primary col-md-3 col-md-offset-2"> חזור למעלה </a>-->
      <a href="Home" class="btn btn-primary col-md-3 col-md-offset-2"> חזור לדף הבית </a>
    </p>
  </div>
</footer>