<!-- ================================================================================================================================================ -->
<!-- Navbar -->

<app-nav-header [backButton] = "backButton" (onUserClicked) = "navigate()" (onUserLogout) = "unsubscribeAll()"></app-nav-header>

<!-- ================================================================================================================================================ -->
<!-- User wait for admin to confirm him OR user was blocked by admin -->

<app-user-status *ngIf = "user.permission == 4 || user.permission == 5" [permission] = "user.permission"></app-user-status>

<!-- ================================================================================================================================================ -->
<!-- User is not allow to access to this page, permission: 0 - navigate to home -->

<app-user-status *ngIf = "user.permission != 4 && user.permission != 5 && user.permission != 3" [permission] = "0" (onNavigate) = "unsubscribeAll()"></app-user-status>

<!-- ================================================================================================================================================ -->

<app-spinner [isLoading] = "isLoading"></app-spinner>

<div *ngIf = "user.permission != 4 && user.permission != 5">

    <!-- Page header -->
    <app-page-header [item] = "header"> </app-page-header>

<!-- ================================================================================================================================================ -->

    <div class = "container">

        <!-- Buttons -->

        <!-- Select Team -->
        <div class = "row">
            <div *ngIf = "noTeamSelected && !addPupils && !removePupils">
                <div class = "team-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class = "text-center"> אנא בחר את קבוצתך </h4>
                </div>

                <div *ngFor = "let team of teams | async" class = "col-lg-12 col-md-12 col-xs-12 thumb">
                    <span *ngIf = "user.permission == 3 && user.uid == team.coachID" class = "thumbnail" (click) = "getPupilsByTeam(team)">
                        <button  type = "button" class = "btn btn-default btn-block btn-team" > {{ team.name }} <i class = "fa fa-soccer-ball-o" > </i> </button>
                    </span>
                </div>
            </div>

            <div *ngIf = "!noTeamSelected && !addPupils && !removePupils">
                <h5 class = "text-center choosen-team"> :הקבוצה שנבחרה היא </h5>
                <h4 class = "text-center"> {{ choosenTeamText }} </h4>
            </div>
        </div>
        <!-- /Select Team -->

        <!-- ======================== -->

        <!-- Choose option -->

        <div *ngIf = "!noTeamSelected && !addPupils && !removePupils" class = "buttons">
        
            <div class = "buttons-center">
                <button (click) = "showAddPupils()" class = "btn btn-md btn-success btn-block" type = "submit"> הוספת חניכים לקבוצה </button>
                <button (click) = "showRemovePupils()" class = "btn btn-md btn-danger btn-block" type = "submit"> הסרת חניכים מהקבוצה </button>
            </div>
        </div>

        <!-- /Buttons -->

        <!-- =========================================================================================================================== -->

        <!-- Add Pupils -->

        <div *ngIf = "!noTeamSelected && addPupils" class = "buttons">
        
            <h5 class = "text-center"> אנא מלא את הנתונים ולחץ על <br> ״הוספת חניך״ </h5>

            <form class = "form-signin">

                <label for = "name" class = "sr-only"> שם החניך </label>
                <div class = "input-group">
                    <input [(ngModel)] = "pupilName" type = "text" name = "pupilName" class = "form-control" placeholder = "שם פרטי" required>
                    <span class = "input-group-addon"><i class = "fa fa-pencil"></i></span> 
                </div>
                        
                <br>

                <div class = "input-group">
                    <input [(ngModel)] = "pupilLastName" type = "text" name = "pupilLastName" class = "form-control" placeholder = "שם משפחה" required>
                    <span class = "input-group-addon"><i class = "fa fa-pencil"></i></span> 
                </div>

                <br>

                <div class = "input-group">
                    <input [(ngModel)] = "pupilID" type = "number" name = "pupilID" class = "form-control" placeholder = "תעודת זהות" required>
                    <span class = "input-group-addon"><i class = "fa fa-id-card"></i></span> 
                </div>

                <br>

                <button (click) = "pupilName &&  pupilLastName && pupilID && saveNewPupil()" class = "btn btn-primary btn-block" type = "submit"> הוספת חניך </button>
            </form>

            <hr>

            <div *ngIf = "thereIsNewPupil">
                <h5 class = "text-center"> {{ newPupilsCounter }} :מס׳ החניכים הממתינים להוספה  </h5>
            </div>
            
            <!-- Buttons -->
            <button (click) = "addNewPupilsToDB()" class = "btn btn-md btn-success btn-block" type = "submit"> אישור הוספת החניכים </button>
        </div>

        <!-- /Add pupils -->
        <!-- =========================================================================================================================== -->
        <!-- Remove Pupils --> 

        <div *ngIf = "removePupils && !noTeamSelected"> 
        
            <div *ngIf = "(pupilsList | async)?.length == 0" class = "alert alert-warning text-center" role = "alert">
                <strong> אין כרגע חניכים בקבוצה </strong> <br> אין חניכים אותם ניתן להסיר 
            </div>

            <div *ngIf = "(pupilsList | async)?.length > 0">
                <h5 class = "text-center"> מחק חניך או לחילופין, בחר כמה ולחץ על <br> ״מחיקת חניכים״ </h5>

                <div class = "vertical-menu">
                    <div *ngFor = "let pupil of pupilsList | async" class = "list-group text-right" [ngSwitch] = "isChecked(pupil)">
                        <span class = "list-group-item clearfix" [class.red] = "isChecked(pupil)">  
                            {{ pupil.name }} {{ pupil.lastName }}, ת.ז: {{ pupil.ID }}
                            <span class = "fa fa-user"></span>
                            <span class = "pull-left">
                                <span class = "glyphicon glyphicon-trash" (click) = "removePupil(pupil)"></span>
                            
                                <span *ngSwitchCase = "false" class = "fa fa-plus margin-left" (click) = "savePupilToRemove(pupil)"> </span>
                                <span *ngSwitchCase = "true" class = "fa fa-minus margin-left" (click) = "savePupilToRemove(pupil)"> </span>
                            </span>
                        </span>
                    </div>
                </div>
                
                <br>
                
                <div *ngIf = "!thereIsNewPupil">
                    <h5 class = "text-center"> לא נבחרו חניכים להסרה  </h5>
                </div>

                <div *ngIf = "thereIsNewPupil">
                    <h5 class = "text-center"> {{ newPupilsCounter }} :מס׳ החניכים הממתינים להסרה  </h5>
                </div>

                <button (click) = "removePupilsFromDB()" class = "btn btn-md btn-danger btn-block btn-remove" type = "submit"> הסר חניכים נבחרים </button>
            </div>
        </div>
        <!-- =========================================================================================================================== -->
        <!-- /Remove Pupils --> 

    </div>
    <!-- /Container -->

</div>

