
<!-- Error message -->

<div *ngIf = "error" class = "alert alert-warning" role = "alert">
  <span class = "glyphicon glyphicon-exclamation-sign" aria-hidden = "true"></span>
  <span class = "sr-only"> Error: </span>
  {{ error }}
</div>

<!-- /Error message -->
<!-- =========================================================================================================================== -->
<!-- Forgot password form -->

<div class = "modal-dialog">
  <div *ngIf = "!showMessage" class = "forgotpasswordrmodal-container">

    <h1> איפוס סיסמה </h1>
    <h5> יש להזין את כתובת הדוא"ל איתה נרשמת לאפליקציה על מנת לאפס את סיסמתך</h5>
    
    <hr>
    
    <form class = "form-signin" (submit) = "sendEmail($event, email.value)">

      <!-- Email -->
      <label for = "email" class = "sr-only"> כתובת דוא״ל </label>
      <div class = "input-group">
        <input #email type = "email" id = "email" class = "form-control" placeholder = "כתובת דוא״ל" required = "">
        <span class = "input-group-addon"><i class = "fa fa-envelope"></i></span> 
      </div>

      <br>
      
      <!-- Sign up button -->
      <button class = "btn btn-md btn-success btn-block" type = "submit"> איפוס סיסמה </button>

    </form>

    <br>

    <!-- Back button -->
    <button class = "btn btn-md btn-primary btn-block" [routerLink] = "['/login']"> חזור למסך התחברות </button>

  </div>
</div>

<!-- /Register form -->
<!-- =========================================================================================================================== -->
<!-- Show message -->
<div *ngIf = "showMessage" class = "container">
  <div class = "message">
    <div class = "panel panel-warning text-right center">
      <div class = "panel-heading"> איפוס סיסמה <i class = "fa fa-exclamation-triangle fa-2x pull-left" aria-hidden = "true"></i> </div>
      <div class = "panel-body">
        <!--מייל נשלח לדוא"ל שהזנת, אנא בדוק את תיבת הדואר הנכנס ואפס את סיסמתך באמצעות הקישור המצורף-->
        ברגע זה נשלח מייל לדוא"ל שהזנת, אנא בדוק את תיבת
        <p>
        .הדואר הנכנס ואפס את סיסמתך באמצעות הקישור המצורף
        <p>
        ..הנך מועבר לעמוד ההתחברות בעוד <strong> {{ countDown }} שניות </strong> 
      </div>
    </div>
  </div>
</div>

<!-- /Show message -->
<!-- =========================================================================================================================== -->
