
<!-- Error message -->

<div *ngIf = "error" class = "alert alert-warning" role = "alert">
  <span class = "glyphicon glyphicon-exclamation-sign" aria-hidden = "true"></span>
  <span class = "sr-only"> Error: </span>
  {{ error }}
</div>

<!-- /Error message -->
<!-- =========================================================================================================================== -->
<!-- Forgot password form -->

<div class = "modal-dialog">
  <div class = "forgotpasswordrmodal-container">
    <h1> איפוס סיסמה </h1>

    <br>

    <form class = "form-signin" (submit) = "sendEmail($event, email.value)">

      <!-- Email -->
      <label for = "email" class = "sr-only"> כתובת דוא״ל </label>
      <div class = "input-group">
        <input #email type = "email" id = "email" class = "form-control" placeholder = "כתובת דוא״ל" required = "">
        <span class = "input-group-addon"><i class = "fa fa-envelope"></i></span> 
      </div>

      <br>
      
      <!-- Sign up button -->
      <button class = "btn btn-md btn-success btn-block" type = "submit"> שלח מייל לאיפוס סיסמה </button>

    </form>

    <br>

    <!-- Back button -->
    <button class = "btn btn-md btn-primary btn-block" [routerLink] = "['/login']"> חזור למסך התחברות </button>

  </div>
</div>
<!-- /Register form -->