<div *ngIf = "permission == 1" class = "container" >

<app-page-header [item] = "header"> </app-page-header>

    <div class = "row" >

       <div *ngFor = "let user of users | async" [ngSwitch] = "user.permission"> 
        <div class = "col-lg-6 col-md-6 col-xs-6 thumb">
          <a *ngSwitchCase = "'4'" class = "thumbnail">
              <button type = "button" class = "btn btn-default btn-block" > <i class = "fa fa-user-plus" > </i> <br/>   {{ user.name }} </button>
          </a>
          <a *ngSwitchDefault> אין כרגע משתמשים הממתינים לאישור </a>
        </div>
       </div>
    </div>

  </div>



