
<!-- ================================================================================================================================================ -->
<!-- Error message -->

<div class = "container">
  <div *ngIf = "error" class = "alert alert-warning" role = "alert">
    <span class = "glyphicon glyphicon-exclamation-sign" aria-hidden = "true"></span>
    <span class = "sr-only"> Error: </span>
    {{ error }}
  </div>
</div>

<!-- /Error message -->
<!-- ================================================================================================================================================ -->
<!-- Page header -->

<app-page-header [item] = "header"> </app-page-header>

<!-- Page content -->
<div class = "container" >

<!-- Selecting chat room or adding a new one -->

  <div *ngIf = "noChatRoomSelected && !createNewChatRoom" >
    <div class = "row" >

    <div class = "container">
          <button (click) = "newChatRoom()" type = "button" class = "btn btn-success btn-block" > <i class = "fa fa-plus" > </i> יצירת חדר צ׳אט חדש </button>
    </div>
  
    <p>
      
    <div class = "vertical-menu" >
      <div *ngFor = "let chatRoom of chatRooms | async" class = "col-lg-12 col-md-12 col-xs-12 thumb">
        <a class = "thumbnail" (click) = "enterChatRoom(chatRoom)"> 
          <button type = "button" class = "btn-chat btn btn-default btn-block" > {{ chatRoom.name }} </button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- /Selecting chat room or adding a new one -->
<!-- ================================================================================================================================================ -->
<!-- Create a new chat room -->

<div *ngIf = "createNewChatRoom">
  <h4 class = "create-chat text-center"> אנא בחר את נושא הצ׳אט ולחץ על <br> ״יצירת צ׳אט״ </h4>

<br>

  <form class = "form-signin">
      <label for = "name" class = "sr-only"> נושא הצ׳אט </label>
      <div class = "input-group">
        <input #name type = "text" id = "name" class = "form-control" placeholder = "נושא הצ׳אט" required>
          <span class = "input-group-addon"><i class = "fa fa-pencil"></i></span> 
      </div>

      <br>

      <button (click) = "name.value && createsNewChatRoom(name.value) " class = "btn btn-md btn-success btn-block" type = "submit"> יצירת צ׳אט </button>
      <button (click) = "chooseChatRoom()" class = "btn btn-md btn-primary btn-block" type = "submit"> חזור לעמוד הקודם </button>

  </form>
</div>

<!-- /Create a new chat room -->
<!-- ================================================================================================================================================ -->
<!-- Chat messages -->

  <div *ngIf = "!noChatRoomSelected && !createNewChatRoom">
    
    <span class = "chat-title"> {{ chatRoomTitle }} </span>
    <div #scrollMe class = "vertical-menu" >
      <div *ngFor = "let message of currentChat | async" > 
        <!--<div *ngIf = "needToPrint(message.timestamp | date: 'dd/MM/yy')">
          <p class = "date-stamp"> {{ message.timestamp | date: "dd/MM/yy" }} </p> 
        </div> -->
        <div class = "bubble" [class.bubble-alt] = "isMe(message.email)"  [class.yellow] = "!isMe(message.email)">
          <p id = "msg-name"> {{ message.displayName }}</p>
          <p id = "msg-context"> {{ message.message }} </p>
          <div class = "author">
            <span> {{ message.timestamp | date: "hh:mm a" }} </span>
          </div>
        </div>
      </div>
    </div>

    <!-- /Chat messages -->

    <!-- =================== -->

    <!-- Send message input -->

    <div class = "input-group">
      <span class = "input-group-btn"> 
        <button class = "btn btn-primary" type = "submit" (click) = "sendMessage()"> <i class = "fa fa-arrow-up"></i> שלח </button>
      </span>  
      <input type = "text" class = "form-control" id = "msg-input" placeholder = "..כתוב את הודעתך כאן" (keyup.enter) = "sendMessage()" [(ngModel)] = "newMessage">
    </div>

    <!-- /Send message input -->

  </div>     
</div>